*.swp
node_modules
comagic-tests/html/comagic/*
!comagic-tests/html/comagic/.keep
comagic-tests/html/easystart/*
!comagic-tests/html/easystart/.keep
comagic-tests/.venv/*
!comagic-tests/.venv/requirements.txt
package-lock.json
comagic-tests/screenshots/*
amocrm-proxy/.venv/*
__pycache__
