.DS_Store
*.swp
node_modules
comagic-tests/html/comagic/*
!comagic-tests/html/comagic/.keep
comagic-tests/html/easystart/*
!comagic-tests/html/easystart/.keep
comagic-tests/.venv/*
!comagic-tests/.venv/requirements.txt
package-lock.json
comagic-tests/screenshots/*
amocrm-proxy/.venv/*
__pycache__
docker/vim-container/profile/.config/configstore
docker/vim-container/profile/.NERDTreeBookmarks
docker/vim-container/profile/.bash_history
docker/vim-container/profile/.cache/
docker/vim-container/profile/.lesshst
docker/vim-container/profile/.npm/
docker/vim-container/profile/.ssh/
docker/vim-container/profile/.tmp
docker/vim-container/profile/.viminfo
docker/vim-container/profile/patch.diff
admin-frontend-tests/node_modules

comagic_app_tests/assets/
comagic_app_tests/sails_pg_session/
comagic_app_tests/updater.log
comagic_app_tests/updater/
comagic_app_tests/publisher/node_modules
