.cmg-app-mac-icon {
    position: absolute;
    top: 32px;
    left: 704px;
}

.misc-omni-src-modules-softphone-styles-module__softphone-content {
    height: 100% !important;
}

.misc-omni-src-modules-softphone-styles-module__softphone-container {
    height: 100%;
    overflow-y: hidden;
}

.cm-app.cm-app-softphone-allowed.cm-app-softphone-visible .cm-large-softphone-app #rootMain {
    margin-right: 0 !important;
}
