body {
    font-family: sans-serif;
    font-size: 13px;
    padding: 30px;
}

iframe {
    width: 300px;
    height: 300px;
}

iframe, button {
    border: 1px solid #000;
}

button {
    display: block;
    background: #fff;
    margin-bottom: 20px;
}
